body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

button {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.number {
    background-color: #4CAF50;
    color: #fff;
}

.operator {
    background-color: #FFC107;
    color: #fff;
}

.equal {
    background-color: #2196F3;
    color: #fff;
}

.clear {
    background-color: #F44336;
    color: #fff;
}

button:hover {
    background-color: #555;
}
